@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

* {
  font-family: 'Lato', sans-serif;
}


html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
  
}
.footer {
  position: absolute !important;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color:rgba(0,0,0,.9)!important;
}

.nav-link {
  color: #FF9835 !important;
  font-size: 25px;
  z-index: 1000;
}

.nav-link:hover{
  color:#FFAD84 !important;
}


.video1 {
  position:  fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important; 
  height: 100vh !important;
  object-fit: cover !important;
  z-index: -1 !important;

}

/* header and button */
.homeheader {
  font-size: 10vh;
  position: relative;
  display: flex;
  color: white;
  margin-bottom: 20px;
}

.top-half-for-home {
  position: relative;
  margin-top: 200px;
  margin-bottom: 450px;
}

.exploreButton {
 font-size: 30px;
 border-radius: 2em;
 border: 4px solid white;
 background-color: unset !important;
 color: white !important;
 padding: 10px;
 text-decoration: none;
}

.exploreButton:hover {
  border: 4px solid #FF9835;
  transition: all 0.2s linear;
  text-decoration: none;

}

/* end of header and button */

.birdSearch {
  background-color: #FF9835 !important;
  border-radius: 2em !important;
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  font-size: 25px;
  color: white;
  margin: 5px;
  transition: 0.4s linear;
  display: block;
  padding-left: 10px;
}

.specialButton {
  background-color: black;
  border-radius: 2em;
  margin: 5px;
  margin-top: 20px;
  margin-left: 150px;
  color: white;
  font-size: 25px;
  border:2px solid #FF9835;
}

.specialButton:hover {
  transition: all 0.2s linear;
  background-color: #FF9835;
  border: 1px solid white;
  
}

.HomeSearch {
  color: white;
  margin-right: 3px;
  font-size: 30px;
  margin-left: 10px;
}

.birdSearch:hover {

  transition: 0.4s linear !important;
  background-color: black !important;
  border: 2px solid #FF9835 !important;

}

form .error-message{
  display: none;
  font-size: .8rem;
  color: red;
}

form .error-message.show{
  display:block
}

/* about page */
.about-bg {
  background-image: url(./components/images/owlorange.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position:  absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important; 
  height: 100% !important;
  z-index: -1 !important;
  image-rendering: pixelated;
}

.about-paragraph {
  position: relative;
  top: 200px;
  left: 100px;
  color: white;
  width: 50%;
}

/* end of about page */

/* login page */
.cardBorder {
  border-radius: 2em !important;
  box-shadow: rgb(0, 0, 0, 0.5);
  background: rgba(25, 25, 255, 0);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  top: 200px;
  right: 50px;
}

.login-bg {
  background-image: url(./components/images/cardinal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important; 
  height: 100% !important;
  z-index: -1 !important;
  image-rendering: pixelated;
}

.loginlabel {
  color: white;
}

.login-input {
  border-radius: 2em !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
  border: none !important;
  outline: none !important;
  color: white !important;
}

.login-input:hover {
  border: 1px solid white !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
  transition: 0.4s linear !important;
  color: white !important;
  outline: none !important;
}

.login-button {
  border-radius: 2em;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
}

.login-button:hover {
  border: 1px solid white;
  transition: 0.4s linear;
  background-color: #FF9835;
}

.form-name {
  color: white;
}
/* end of login page */


/* signup page */
.cardBorder2 {
  border-radius: 2em !important;
  box-shadow: rgb(0, 0, 0, 0.5);
  background: rgba(25, 25, 255, 0);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  top: 140px;
  right: 50px;
}


.signup-bg {
  background-image: url(./components/images/bluebird.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important; 
  height: 100% !important;
  z-index: -1 !important;
}

.signuplabel {
  color: white;
}

.signup-input {
  border-radius: 2em !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
  border: none !important;
  outline: none !important;
  color: white !important;
}

.signup-input:hover {
  border: 1px solid white !important;
  background-color: rgba(0, 0, 0, 0.5)!important;
  transition: 0.4s linear !important;
  color: white !important;
  outline: none !important;
}

.signup-button {
  border-radius: 2em;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  outline: none;
}

.signup-button:hover {
  border: 1px solid white;
  transition: 0.4s linear;
  background-color: #FF9835;
  outline: none;
}

.signupform-name {
  color: white;
}
/* end of signup page */



/* snap scroll for home */

.homeMain {
  width: 100%;
  height: 60vh;
  position: relative;
  padding: 1rem;
  background-size: cover;
  left: 0 !important;
  right: 44px !important;

}



.homeFormSection {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    width: 200%;
    height: 94vh;
    right: 50px;
    margin-left: -115px;
    margin-right: -999px;
    background-size: cover !important;
    position: relative;
    max-width: 100vw;
    margin-bottom: 50px;
    /* display: grid;
    grid-template-rows: repeat (2, 1fr);
    gap: 10px; */
    padding: 20px;

}




.bird_search_form {
  margin-left: 130px;
  position: absolute;
  border: 5px solid black;
  padding: 20px;
  border-radius: 2em;
  /* background-color: rgba(0, 0, 0, .8); */
}


.h1-for-home-div {
  font-size: 30px !important;
  color:white !important;
  margin-left: 140px;
  position: absolute;
  top: 100px;

}



.paragraph-home {
  color: white;
  font-size: 30px;
  margin-top: 50px;
}


.child-div1 {
  /* margin-left: 600px;
  padding: 100px; */
  width:50%;
  float:right;
  padding: 20px;
  margin-top: 100px;

}

.child-div2 {
  /* margin-right: 600px;
  padding: 100px; */
  width:50%;
  float:left;
  padding: 20px;
  margin-top: 100px; 
}



/* state results page styling */



